.section-09 {
  padding: 30px 0px 20px 0px;
  background-color: var(--sec09-bg-color);
}

.section-09.dark1 {
  background-color: #FFFF;
}

.section-09-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.flickity-viewport{
  width: 100%;
}

// .flickity-prev-next-button {
//   top: 50%;
//   width: 36px;
//   height: 36px;
//   border-radius: 50%;
//   transform: translateY(-50%);
// }

.section-09-img {
  width: 220px;
  height: auto;

  // @media screen and (max-width: 530px) {
  //   width: 170px;
  // }
}

.sec-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 560px) {

  .left-img-arrow {
    display: none;
  }

  .right-img-arrow {
    display: none;
  }
}