
.section-12{
  margin: 35px 0px;
}

.section12-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @media screen and (max-width: 560px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.section-12__left-img{
  width:385px;
  height: auto;

  @media screen and (max-width: 730px) {
    width: 285px;
  }
}

.section-12-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-12__right-txt{
  text-align: center;
}

.section12-line-container{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: -10px;

  @media screen and (max-width: 560px) {
    margin: 0px auto 0px 14px;
  }
}
.section12-line{
  border: 1px solid #d5e0de;
  margin: 0px;
  width: 70%;
}
.section12-txt{
  font-family: $para-font;
  font-style: normal;
  font-weight: 300;
  font-size: $para-font-size;
  color: #FFFFFF;
  margin: 0px;
}


