.section-05{
  padding: 30px 0px 50px 0px;

  @media screen and (min-width: 600px) {
    padding: 50px 0px 60px 0px;
  }
  @media screen and (max-width: 490px) {
    padding: 50px 0px 30px 0px;
  }
  background-color: var(--sec05-bg-color);
}

.section05-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
 // padding: 30px 0px;
 background-color: var(--sec05-bg-color);
 position: relative;
 height: 320px;
}

.sec-heading-clr{
  color: var( --sec-heading-color) !important;
}

.section05-container-txt {
  max-width: 595px;

  // @media screen and (max-width: 790px) {
  //   max-width: 200px;
  // }
}

.section05-line {
  border: 1px solid #1EE1B3;
  margin: 10px;
  width: 8%;
}

.section05-btn {
  border: 2px solid #FFFFFF;
  margin: 10px 0px;
}

#section05-btn.active{
  display: none;
}

.section05-btn__img{
  padding: 8px 12px;
}

.section05-heading{
  margin-top: 0px;
}

.video-content {
  width: 735px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  @media screen and (max-width: 790px) {
    width: 500px;
  }

  @media screen and (max-width: 590px) {
    width: 390px;
  }
  @media screen and (max-width: 490px) {
    width: 340px;
  }
  @media screen and (max-width: 450px) {
    width: 335px;
  }
}

.btn-video{
  position: absolute;
}

.video {
  //aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
  object-fit: contain;
  //display: none;
}

// .video.active {
//   display: block;
// }

.onvideo-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.video-txt {
  font-family: $heading-font;
  font-style: normal;
  font-weight: 700;
  font-size: $heading-font-size;
  margin-bottom: 0px;
  //background-color: rgba($color: #000000, $alpha: 0.4);
  color: var(--section-heading-primary-color);

  // @media screen and (max-width: 790px) {
  //   font-size: 15px !important;
  // }

}