$heading-font:'Poppins';
$para-font:'Inter';

$heading-font-size:23px;
$para-font-size:15px;

:root {

  --section-heading-primary-color: #FFFFFF;
  --section-heading-secondary-color: #1EE1B3;

  --section-txt-color: #FFFFFF;

  --nav-bg-color: black;
  --nav-txt-color: white;
  --nav-transparent-btn-color: white;
  --nav-transparent-btn-color-hover: #1EE1B3;
  --nav-cyan-btn-bg-color: #1EE1B3;
  --nav-cyan-btn-color: #FFFFFF;
  --nav-cyan-btn-bg-color-hover: #0D99FF;

  --sec02-bg-color: #0C0C11;
  --sec03-bg-color: #08080C;
  --sec04-bg-color: #08080C;
  --section04-txt-color: #FFFFFF;

  --sec05-bg-color:
    #0C0C11;
  --sec06-bg-color: #0C0C11;
  --sec07-bg-color: #0C0C11;
  --section7-container-color: #0C0C11;
  --sec08-bg-color: #0C0C11;
  --accordion-bg-color: #0C0C11;
  --accordion-color: #FFFFFF;
  --content-bg-color: #0C0C11;
  --sec09-bg-color: #0C0C11;
  --sec10-bg-color: #0C0C11;

  --sec-heading-color: #FFFFFF;

  --btn-primary-bg-color: #FFFFFF;
  --btn-primary-color: #08080C;

  --btn-primary-exp-bg-color: #FFFFFF;
  --btn-primary-exp-color: #161616;

  --nav-content__link-bg-color: #0C0C11;

}

.lightMode {

  --section-heading-primary-color: black;
  --section-heading-secondary-color: #1EE1B3;
  --heading-white-color: #FFFFFF;

  --section-txt-color: black;

  --nav-bg-color: white;
  --nav-txt-color: black;
  --nav-transparent-btn-color: black;
  --nav-cyan-btn-bg-color: #1EE1B3;
  --nav-cyan-btn-color: black;
  --nav-cyan-btn-bg-color-hover: #0D99FF;

  --sec02-bg-color: #EFEDED;
  --sec03-bg-color: #EFEDED;
  --sec04-bg-color: #FFFFFF;
  --section04-txt-color: black;

  --sec05-bg-color: #2A2320;
  --sec06-bg-color: #3A322F;
  --sec07-bg-color: #FFFFFF;
  --section7-container-color: #0C0C11;
  --sec-heading-color: #FFFFFF;
  --sec-heading-color2: #FFFFFF;
  --sec08-bg-color: #FFFFFF;
  --accordion-bg-color: #FFFFFF;
  --accordion-color: black;
  --content-bg-color: #FFFFFF;
  --sec09-bg-color: #FFFFFF;
  --sec10-bg-color: #FFFFFF;
  --btn-primary-bg-color: black;
  --btn-primary-color: #FFFFFF;
  --btn-primary-exp-color: #161616;

  --nav-content__link-bg-color: #96969e;
}
